@media (max-width: 992px) {
    .mobileMenu {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      transform: translateX(-100%);
      transition: all ease 0.25s;
    }
  
    .open {
      transform: translateX(0);
    }
  
    .overlay {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      background-color: rgba(0, 0, 0, 0.5);
      display: none;
    }
  
    .open {
      display: block;
    }
  }
  